.CalendarModal {
  background-color: white;
  position: fixed;
  top: 180px;
  right: 3%;
  left: 66%;
  margin: 15px;
  box-sizing: border-box;
  border: 1px double rgb(0, 166, 153);
  padding: 5px;
  z-index: 100;
}

.GuestModal {
  background-color: white;
  position: fixed;
  top: 280px;
  right: 3%;
  left: 66%;
  margin: 15px;
  box-sizing: border-box;
  border: 1px double rgb(0, 166, 153);
  padding: 5px;
  z-index: 100;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: 'rgba(0, 0, 0, 0)';
}  

@media (max-width: 900px) {  

.CalendarModal {
  position: absolute;
  left: 3%;
  right: 3%;
}

.GuestModal {
  position: absolute;
  left: 3%;
  right: 3%;
}

}
